:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 100%;
  padding: 0;
  margin: 0;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
  outline: 0;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  padding: 0;
}

.transaction__content-pane-item, .transaction__content-pane, .transaction__head-date, .sidebar__info ul > li, .sidebar__profile, .sidebar__header-menu > li, .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transaction__content-pane-filter-form, .transaction__head-date-form div {
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1240px;
  padding: 0;
}
@media (max-width: 1439px) {
  .container {
    max-width: 1140px;
  }
}
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 726px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

body {
  background: linear-gradient(62deg, #fdf7f7, #f9f3f4, #f3eef4, #e9e8f5);
  -webkit-animation: gradient 15s ease infinite;
          animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
body.hidden .wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 11;
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.sidebar {
  width: 300px;
  height: 100%;
  padding: 62px 41px 100px 28px;
  display: inline-block;
}
@media (max-width: 1600px) {
  .sidebar {
    width: 20%;
  }
}
@media (max-width: 1439px) {
  .sidebar {
    width: 280px;
  }
}
@media (max-width: 1200px) {
  .sidebar {
    width: 260px;
  }
}
@media (max-width: 1023px) {
  .sidebar {
    width: 420px;
    height: 100vh;
    position: absolute;
    left: -100%;
    top: 0;
    background: linear-gradient(62deg, #fdf7f7, #f9f3f4, #f3eef4, #e9e8f5);
    -webkit-animation: gradient 15s ease infinite;
            animation: gradient 15s ease infinite;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 560px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar::before {
  content: "";
  position: absolute;
  left: 300px;
  top: 0;
  width: 2px;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
}
@media (max-width: 1600px) {
  .sidebar::before {
    left: 20%;
  }
}
@media (max-width: 1439px) {
  .sidebar::before {
    left: 280px;
  }
}
@media (max-width: 1200px) {
  .sidebar::before {
    left: 260px;
  }
}
@media (max-width: 1023px) {
  .sidebar::before {
    content: none;
  }
}
.sidebar__logo {
  width: 231px;
  margin-bottom: 70px;
  padding-left: 17px;
}
@media (max-width: 1439px) {
  .sidebar__logo {
    width: 211px;
  }
}
@media (max-width: 1200px) {
  .sidebar__logo {
    width: 191px;
  }
}
.sidebar__logo img {
  width: 100%;
}
.sidebar__header {
  margin-bottom: 60px;
}
@media (max-width: 1023px) {
  .sidebar__header {
    width: 300px;
  }
}
@media (max-width: 424px) {
  .sidebar__header {
    width: 100%;
  }
}
.sidebar__header-caption {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 30px;
  font-family: "RobotoMedium", sans-serif;
  padding-left: 17px;
}
@media (max-width: 1600px) {
  .sidebar__header-caption {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 560px) {
  .sidebar__header-caption {
    font-size: 18px;
    line-height: 22px;
  }
}
.sidebar__header-menu > li {
  height: 52px;
  line-height: 52px;
  margin-bottom: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 1200px) {
  .sidebar__header-menu > li {
    line-height: 48px;
    height: 48px;
  }
}
.sidebar__header-menu > li .arrow {
  position: absolute;
  right: 0;
  top: 15px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-chevron-right.svg");
  background-size: cover;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar__header-menu > li > a {
  color: #000000;
  opacity: 0.5;
  font-family: "RobotoMedium", sans-serif;
  width: 100%;
  padding-left: 17px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar__header-menu > li > a img, .sidebar__header-menu > li > a svg {
  width: 20px;
  height: 20px;
  margin-right: 24px;
  vertical-align: middle;
}
@media (max-width: 1200px) {
  .sidebar__header-menu > li > a img, .sidebar__header-menu > li > a svg {
    margin-right: 16px;
    width: 18px;
    height: 18px;
  }
}
.sidebar__header-menu > li > a img path, .sidebar__header-menu > li > a svg path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar__header-menu > li.active {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
}
.sidebar__header-menu > li.active a {
  opacity: 0.9;
  color: #00AEE5;
}
.sidebar__header-menu > li.active a svg path {
  fill: #00AEE5;
}
.sidebar__header-menu > li:hover {
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
}
@media (max-width: 1023px) {
  .sidebar__header-menu > li:hover {
    height: auto;
  }
}
.sidebar__header-menu > li:hover .arrow {
  right: 12px;
}
@media (max-width: 1023px) {
  .sidebar__header-menu > li:hover .arrow {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
.sidebar__header-menu > li:hover > a {
  opacity: 0.9;
  color: #00AEE5;
}
.sidebar__header-menu > li:hover > a svg path {
  fill: #00AEE5;
}
.sidebar__header-menu > li:hover .sidebar__header-menu-submenu {
  left: 100%;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1023px) {
  .sidebar__header-menu > li:hover .sidebar__header-menu-submenu {
    left: 0;
  }
}
.sidebar__header-menu-submenu {
  position: absolute;
  left: 50%;
  top: 0;
  opacity: 0;
  padding-left: 44px;
  width: 300px;
  visibility: hidden;
}
@media (max-width: 1023px) {
  .sidebar__header-menu-submenu {
    position: relative;
    left: 0;
    width: 100%;
    padding-left: 0;
  }
}
.sidebar__header-menu-submenu > li {
  padding: 10px 30px;
  background-color: #ffffff;
  line-height: 23px;
  width: 100%;
  -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
}
.sidebar__header-menu-submenu > li > a {
  display: block;
  color: #000000;
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar__header-menu-submenu > li > a:hover {
  opacity: 1;
  color: #00AEE5;
}
.sidebar__profile {
  position: absolute;
  right: 24px;
  top: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1023px) {
  .sidebar__profile {
    position: relative;
    right: auto;
    top: 0;
    margin-bottom: 60px;
    padding-left: 17px;
  }
}
@media (max-width: 424px) {
  .sidebar__profile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.sidebar__profile-balance {
  margin-right: 28px;
  color: rgba(0, 0, 0, 0.5);
}
.sidebar__profile-balance span {
  font-family: "RobotoMedium", sans-serif;
  color: black;
}
@media (max-width: 424px) {
  .sidebar__profile-balance {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.sidebar__profile-user {
  margin-right: 24px;
  background: #ffffff;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
  border-radius: 20px;
}
.sidebar__profile-user li {
  font-size: 16px;
  line-height: 52px;
  font-family: "RobotoMedium", sans-serif;
  padding: 0 55px 0 50px;
  position: relative;
}
@media (max-width: 1600px) {
  .sidebar__profile-user li {
    line-height: 48px;
    font-size: 15px;
  }
}
@media (max-width: 1439px) {
  .sidebar__profile-user li {
    line-height: 42px;
    font-size: 14px;
  }
}
@media (max-width: 560px) {
  .sidebar__profile-user li {
    line-height: 40px;
    font-size: 13px;
  }
}
.sidebar__profile-user li::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 14px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-credit-card.svg");
  background-size: cover;
}
@media (max-width: 1600px) {
  .sidebar__profile-user li::before {
    top: 12px;
  }
}
@media (max-width: 1439px) {
  .sidebar__profile-user li::before {
    width: 20px;
    height: 20px;
    top: 11px;
  }
}
.sidebar__profile-user li::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 16px;
  width: 10px;
  height: 20px;
  background-image: url("../img/icon-format-line-spacing.svg");
  background-size: cover;
}
@media (max-width: 1600px) {
  .sidebar__profile-user li::after {
    top: 14px;
  }
}
@media (max-width: 1439px) {
  .sidebar__profile-user li::after {
    width: 8px;
    height: 17px;
    top: 13px;
  }
}
.sidebar__profile-setting {
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sidebar__profile-setting:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.sidebar__profile-setting span {
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-image: url("../img/icon-settings.svg");
  background-size: cover;
}
.sidebar__info-caption {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 20px;
  font-family: "RobotoMedium", sans-serif;
  padding-left: 17px;
}
@media (max-width: 1600px) {
  .sidebar__info-caption {
    font-size: 20px;
    line-height: 24px;
  }
}
@media (max-width: 560px) {
  .sidebar__info-caption {
    font-size: 18px;
    line-height: 22px;
  }
}
.sidebar__info ul > li {
  height: 52px;
  line-height: 52px;
  margin-bottom: 5px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.sidebar__info ul > li > a {
  color: #000000;
  opacity: 0.5;
  font-family: "RobotoMedium", sans-serif;
  width: 100%;
  padding-left: 17px;
}
.sidebar__info ul > li > a svg {
  width: 20px;
  height: 20px;
  margin-right: 24px;
  vertical-align: middle;
}
@media (max-width: 1200px) {
  .sidebar__info ul > li > a svg {
    margin-right: 16px;
  }
}
.sidebar__info ul > li:hover {
  background-color: #ffffff;
}
.sidebar__info ul > li:hover a {
  opacity: 0.9;
  color: #00AEE5;
}
.sidebar__info ul > li:hover a svg path {
  fill: #00AEE5;
}

.transaction {
  padding: 48px 24px;
  width: 1620px;
}
@media (max-width: 1600px) {
  .transaction {
    width: 80%;
  }
}
@media (max-width: 1439px) {
  .transaction {
    width: calc(100% - 280px);
  }
}
@media (max-width: 1200px) {
  .transaction {
    width: calc(100% - 260px);
  }
}
@media (max-width: 1023px) {
  .transaction {
    width: 100%;
  }
}
.transaction__head {
  margin-bottom: 32px;
}
.transaction__head-caption {
  font-size: 22px;
  line-height: 26px;
  font-family: "RobotoMedium", sans-serif;
  margin-bottom: 27px;
}
@media (max-width: 1200px) {
  .transaction__head-caption {
    font-size: 21px;
    line-height: 25px;
  }
}
@media (max-width: 424px) {
  .transaction__head-caption {
    font-size: 20px;
    line-height: 24px;
  }
}
.transaction__head-date {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.transaction__head-date-icon {
  width: 24px;
  height: 24px;
  margin-right: 14px;
}
@media (max-width: 1439px) {
  .transaction__head-date-icon {
    width: 22px;
    height: 22px;
  }
}
@media (max-width: 1600px) {
  .transaction__head-date-icon {
    width: 20px;
    height: 20px;
  }
}
.transaction__head-date-icon span {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("../img/icon-calendar-days.svg");
  background-size: cover;
}
.transaction__head-date-form input {
  display: none;
}
.transaction__head-date-form div {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 24px;
  font-size: 18px;
  line-height: 40px;
  border: 0;
  width: 278px;
  height: 40px;
  background: #E8EBF1;
  border-radius: 20px;
  color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 1750px) {
  .transaction__head-date-form div {
    font-size: 16px;
  }
}
@media (max-width: 1600px) {
  .transaction__head-date-form div {
    width: 250px;
    font-size: 15px;
  }
}
@media (max-width: 1200px) {
  .transaction__head-date-form div {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  .transaction__head-date-form div {
    width: 230px;
  }
}
@media (max-width: 639px) {
  .transaction__head-date-form div {
    width: 220px;
  }
}
@media (max-width: 560px) {
  .transaction__head-date-form div {
    width: 120px;
  }
}
@media (max-width: 424px) {
  .transaction__head-date-form div {
    font-size: 13px;
    width: 100px;
    padding: 0 18px;
    line-height: 36px;
    height: 36px;
  }
}
@media (max-width: 560px) {
  .transaction__head-date-form div .number, .transaction__head-date-form div .time {
    display: none;
  }
}
.transaction__head-date-form .line {
  display: inline-block;
  margin: 0 18px;
  font-size: 18px;
  line-height: 21px;
  opacity: 0.5;
}
@media (max-width: 1200px) {
  .transaction__head-date-form .line {
    margin: 0 12px;
  }
}
@media (max-width: 424px) {
  .transaction__head-date-form .line {
    margin: 0 8px;
  }
}
.transaction__head .burger-menu {
  width: 34px;
  height: 23px;
  position: absolute;
  top: 50px;
  right: 24px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
  z-index: 1001;
}
@media (max-width: 1023px) {
  .transaction__head .burger-menu {
    display: inline-block;
  }
}
.transaction__head .burger-menu span {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 5px;
  height: 3px;
  background-color: #000000;
  width: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.transaction__head .burger-menu:before, .transaction__head .burger-menu:after {
  content: "";
  position: absolute;
  width: 100%;
  margin: 0 auto;
  height: 3px;
  border-radius: 5px;
  left: 0;
  right: 0;
  background-color: #000000;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.transaction__head .burger-menu:before {
  top: 0;
}
.transaction__head .burger-menu:after {
  bottom: 0;
}
.transaction__content {
  width: 100%;
  padding: 23px 25px 45px;
  background: #ffffff;
  -webkit-box-shadow: 0 20px 30px rgba(0, 0, 0, 0.04);
          box-shadow: 0 20px 30px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}
.transaction__content .select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #000000;
  width: 185px;
  height: 40px;
  margin-right: 20px;
}
.transaction__content .select:nth-last-child(1) {
  margin-right: 0;
}
@media (max-width: 1750px) {
  .transaction__content .select {
    font-size: 14px;
    width: 150px;
    margin-right: 15px;
  }
}
@media (max-width: 639px) {
  .transaction__content .select {
    height: 38px;
    font-size: 13px;
  }
}
@media (max-width: 560px) {
  .transaction__content .select {
    width: 47%;
  }
}
@media (max-width: 424px) {
  .transaction__content .select {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.transaction__content .select .select-hidden {
  display: none;
}
.transaction__content .select:nth-of-type(4) {
  margin-right: 0;
}
.transaction__content .select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 40px;
  background-color: #ffffff;
  padding: 0 25px;
  border: 1px solid #E8EBF1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}
@media (max-width: 639px) {
  .transaction__content .select-styled {
    line-height: 38px;
  }
}
.transaction__content .select-styled:after {
  content: "";
  width: 10px;
  height: 20px;
  background-image: url("../img/icon-format-line-spacing.svg");
  position: absolute;
  top: 9px;
  right: 15px;
  background-size: cover;
}
@media (max-width: 639px) {
  .transaction__content .select-styled:after {
    width: 8px;
    height: 18px;
  }
}
.transaction__content .select-styled:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.transaction__content .select-styled:active, .transaction__content .select-styled.active {
  -webkit-transition: ease-in-out 0s;
  transition: ease-in-out 0s;
  border: 1px solid rgba(0, 0, 0, 0.4);
  z-index: 11;
}
.transaction__content .select-options {
  display: none;
  position: absolute;
  top: 55%;
  right: 0;
  left: 0;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 10;
  margin: 0;
  padding: 30px 0 10px;
  list-style: none;
  background-color: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-right: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
.transaction__content .select-options li {
  margin: 0;
  padding: 10px 0;
  text-indent: 22px;
  border-top: 1px solid #ffffff;
}
@media (max-width: 639px) {
  .transaction__content .select-options li {
    padding: 8px 0;
  }
}
.transaction__content .select-options li:hover {
  background: #E8EBF1;
}
.transaction__content-pane {
  margin-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}
@media (max-width: 1439px) {
  .transaction__content-pane {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 560px) {
  .transaction__content-pane {
    margin-bottom: 30px;
  }
}
.transaction__content-pane .mobile-filter {
  display: none;
  height: 40px;
  line-height: 40px;
  padding: 0 27px 0 43px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 19px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}
@media (max-width: 1439px) {
  .transaction__content-pane .mobile-filter {
    display: inline-block;
  }
}
@media (max-width: 639px) {
  .transaction__content-pane .mobile-filter {
    font-size: 13px;
  }
}
@media (max-width: 424px) {
  .transaction__content-pane .mobile-filter {
    width: 40px;
    padding: 0;
  }
  .transaction__content-pane .mobile-filter span {
    display: none;
  }
}
.transaction__content-pane .mobile-filter::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-filter.svg");
  background-size: cover;
}
@media (max-width: 424px) {
  .transaction__content-pane .mobile-filter::before {
    left: 10px;
    top: 12px;
  }
}
.transaction__content-pane-filter {
  position: relative;
}
@media (max-width: 1439px) {
  .transaction__content-pane-filter {
    position: absolute;
    top: -22px;
    left: -25px;
    opacity: 0;
    visibility: hidden;
    padding: 20px 25px;
    background: #ffffff;
    width: calc(100% + 50px);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom: 1px solid #E8EBF1;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
@media (max-width: 1439px) and (max-width: 560px) {
  .transaction__content-pane-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 20px;
    padding: 20px 25px 35px;
  }
}
@media (max-width: 1439px) and (max-width: 424px) {
  .transaction__content-pane-filter {
    padding: 18px 18px 25px;
  }
}
@media (max-width: 1439px) {
  .transaction__content-pane-filter.on {
    opacity: 1;
    visibility: visible;
    z-index: 15;
  }
}
@media (max-width: 1439px) {
  .transaction__content-pane-filter .close {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0.8;
  }
}
@media (max-width: 1439px) and (max-width: 560px) {
  .transaction__content-pane-filter .close {
    top: 21px;
  }
}
@media (max-width: 1439px) and (max-width: 424px) {
  .transaction__content-pane-filter .close {
    right: 18px;
  }
}
@media (max-width: 1439px) {
  .transaction__content-pane-filter .close:after, .transaction__content-pane-filter .close:before {
    content: "";
    position: absolute;
    border-radius: 5px;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    background: #000000;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
@media (max-width: 1439px) {
  .transaction__content-pane-filter .close:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
@media (max-width: 1439px) {
  .transaction__content-pane-filter .close:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
@media (max-width: 1439px) {
  .transaction__content-pane-filter .close:hover {
    opacity: 1;
  }
  .transaction__content-pane-filter .close:hover::before {
    background: #000000;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .transaction__content-pane-filter .close:hover::after {
    background: #000000;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}
.transaction__content-pane-filter .caption {
  display: none;
  font-size: 18px;
  line-height: 22px;
  font-family: "RobotoMedium", sans-serif;
  margin-bottom: 20px;
}
@media (max-width: 560px) {
  .transaction__content-pane-filter .caption {
    display: block;
  }
}
.transaction__content-pane-filter-form {
  height: 40px;
  background-color: #E8EBF1;
  border-radius: 20px;
  margin-right: 20px;
}
@media (max-width: 1750px) {
  .transaction__content-pane-filter-form {
    margin-right: 15px;
  }
}
@media (max-width: 1200px) {
  .transaction__content-pane-filter-form {
    width: 90%;
    margin-bottom: 15px;
  }
}
@media (max-width: 639px) {
  .transaction__content-pane-filter-form {
    height: 38px;
  }
}
@media (max-width: 560px) {
  .transaction__content-pane-filter-form {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: auto;
    margin-right: 0;
  }
}
.transaction__content-pane-filter-form .select {
  width: 147px;
  margin-right: 12px;
}
@media (max-width: 1750px) {
  .transaction__content-pane-filter-form .select {
    width: 130px;
  }
}
@media (max-width: 1200px) {
  .transaction__content-pane-filter-form .select {
    width: 25%;
  }
}
@media (max-width: 560px) {
  .transaction__content-pane-filter-form .select {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 424px) {
  .transaction__content-pane-filter-form .select {
    margin-bottom: 0;
  }
}
.transaction__content-pane-filter-form input[type=text] {
  width: 157px;
  border: 0;
  background: transparent;
  font-size: 14px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.5);
  padding-right: 12px;
}
@media (max-width: 1750px) {
  .transaction__content-pane-filter-form input[type=text] {
    width: 130px;
  }
}
@media (max-width: 1200px) {
  .transaction__content-pane-filter-form input[type=text] {
    width: 55%;
  }
}
@media (max-width: 639px) {
  .transaction__content-pane-filter-form input[type=text] {
    font-size: 13px;
  }
}
@media (max-width: 560px) {
  .transaction__content-pane-filter-form input[type=text] {
    width: 100%;
    height: 44px;
    padding: 0 25px;
  }
}
@media (max-width: 424px) {
  .transaction__content-pane-filter-form input[type=text] {
    height: 40px;
  }
}
.transaction__content-pane-filter-form input[type=submit] {
  width: 104px;
  height: 40px;
  border: 1px solid #E8EBF1;
  background: #ffffff;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 14px;
}
@media (max-width: 1750px) {
  .transaction__content-pane-filter-form input[type=submit] {
    width: 90px;
  }
}
@media (max-width: 1200px) {
  .transaction__content-pane-filter-form input[type=submit] {
    width: 20%;
  }
}
@media (max-width: 639px) {
  .transaction__content-pane-filter-form input[type=submit] {
    font-size: 13px;
    height: 38px;
  }
}
@media (max-width: 560px) {
  .transaction__content-pane-filter-form input[type=submit] {
    width: 100%;
  }
}
.transaction__content-pane-filter-form input[type=submit]:hover {
  border: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
}
.transaction__content-pane-files {
  position: relative;
}
.transaction__content-pane-files .mobile-btn {
  display: none;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-image: url("../img/icon-vertical-align-bottom.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 560px) {
  .transaction__content-pane-files .mobile-btn {
    display: inline-block;
  }
}
@media (max-width: 560px) {
  .transaction__content-pane-files-block {
    position: absolute;
    top: 30px;
    background: #ffffff;
    width: 100px;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
  }
  .transaction__content-pane-files-block.on {
    top: 60px;
    visibility: visible;
    opacity: 1;
  }
}
.transaction__content-pane-files a {
  background: #ffffff;
  display: inline-block;
  line-height: 40px;
  padding: 0 27px 0 23px;
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-right: 19px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #000000;
}
@media (max-width: 1750px) {
  .transaction__content-pane-files a {
    margin-right: 12px;
  }
}
@media (max-width: 560px) {
  .transaction__content-pane-files a {
    border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    display: block;
    width: 100%;
    padding: 0 10px;
    text-align: center;
  }
}
.transaction__content-pane-files a:nth-last-child(1) {
  margin-right: 0;
}
.transaction__content-pane-files a:hover {
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.18);
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.18);
  color: #00AEE5;
}
@media (max-width: 560px) {
  .transaction__content-pane-files a:hover {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}
.transaction__content-pane-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1439px) {
  .transaction__content-pane-item {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.transaction__content-pane-item span {
  font-size: 14px;
  line-height: 16px;
  font-family: "RobotoMedium", sans-serif;
  margin-right: 17px;
}
@media (max-width: 1600px) {
  .transaction__content-pane-item span {
    display: none;
  }
}
.transaction__content-pane-item .select {
  width: 100px;
  margin-right: 0;
}
@media (max-width: 1750px) {
  .transaction__content-pane-item .select {
    width: 80px;
  }
}
.transaction__content-pane-item .select-styled {
  padding: 0 32px;
  background: #F1F6FF;
  border: 1px solid #F1F6FF;
}
.transaction__content-pane-item .select-styled:after {
  width: 20px;
  height: 20px;
  background-image: url("../img/icon-chevron-down.svg");
  top: 10px;
}
@media (max-width: 1750px) {
  .transaction__content-pane-item .select-styled {
    padding: 0 20px;
  }
}
.transaction__content-pane-item .select-options li {
  text-align: center;
  text-indent: 0;
}
.transaction__content-table {
  width: 100%;
}
@media (max-width: 1600px) {
  .transaction__content-table {
    overflow-x: scroll;
  }
}
.transaction__content-table table {
  width: 100%;
  text-align: center;
  margin-bottom: 45px;
}
@media (max-width: 1600px) {
  .transaction__content-table table {
    width: 1600px;
  }
}
@media (max-width: 1023px) {
  .transaction__content-table table {
    padding-bottom: 20px;
  }
}
@media (max-width: 424px) {
  .transaction__content-table table {
    padding-bottom: 0;
  }
}
.transaction__content-table table > tbody > tr td {
  padding: 7px 0;
  font-size: 14px;
  line-height: 16px;
}
@media (max-width: 639px) {
  .transaction__content-table table > tbody > tr td {
    font-size: 13px;
  }
}
@media (max-width: 424px) {
  .transaction__content-table table > tbody > tr td {
    font-size: 12px;
  }
}
.transaction__content-table table > tbody > tr td .success {
  color: #399818;
}
.transaction__content-table table > tbody > tr td .failure {
  color: #981818;
}
.transaction__content-table table > tbody > tr td .refresh {
  cursor: pointer;
}
.transaction__content-table table > tbody > tr td .refresh img {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.transaction__content-table table > tbody > tr td .refresh:hover img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.transaction__content-table table > tbody > tr:nth-of-type(odd) > td {
  background-color: #FAFAFA;
}
.transaction__content-table table > tbody > tr:hover td {
  background-color: #E8EBF1;
}
.transaction__content-table table > tbody > tr:nth-of-type(1) > td {
  background-color: #ffffff;
  opacity: 0.5;
  padding: 16px 0;
}
.transaction__content-pagination {
  text-align: center;
}
.transaction__content-pagination ul li {
  font-size: 18px;
  line-height: 21px;
  display: inline-block;
  position: relative;
}
@media (max-width: 1600px) {
  .transaction__content-pagination ul li {
    font-size: 16px;
    line-height: 19px;
  }
}
@media (max-width: 1023px) {
  .transaction__content-pagination ul li {
    font-size: 15px;
  }
}
@media (max-width: 560px) {
  .transaction__content-pagination ul li {
    font-size: 14px;
  }
}
@media (max-width: 424px) {
  .transaction__content-pagination ul li {
    font-size: 13px;
  }
}
.transaction__content-pagination ul li.prev, .transaction__content-pagination ul li.next {
  opacity: 0.5;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.transaction__content-pagination ul li.prev a, .transaction__content-pagination ul li.next a {
  color: #000000;
}
.transaction__content-pagination ul li.prev:hover, .transaction__content-pagination ul li.next:hover {
  opacity: 1;
}
.transaction__content-pagination ul li.prev.hide, .transaction__content-pagination ul li.next.hide {
  pointer-events: none;
  opacity: 0.1;
}
.transaction__content-pagination ul li.prev::before {
  content: "";
  position: absolute;
  left: -29px;
  top: -2px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-chevron-left.svg");
  background-size: cover;
}
@media (max-width: 1600px) {
  .transaction__content-pagination ul li.prev::before {
    width: 20px;
    height: 20px;
    top: 0;
  }
}
@media (max-width: 560px) {
  .transaction__content-pagination ul li.prev::before {
    width: 19px;
    height: 19px;
  }
}
.transaction__content-pagination ul li.next::before {
  content: "";
  position: absolute;
  right: -29px;
  top: -2px;
  width: 24px;
  height: 24px;
  background-image: url("../img/icon-chevron-right.svg");
  background-size: cover;
}
@media (max-width: 1600px) {
  .transaction__content-pagination ul li.next::before {
    width: 20px;
    height: 20px;
    top: 0;
  }
}
@media (max-width: 560px) {
  .transaction__content-pagination ul li.next::before {
    width: 19px;
    height: 19px;
  }
}
.transaction__content-pagination ul li.current {
  margin: 0 60px;
}
@media (max-width: 424px) {
  .transaction__content-pagination ul li.current {
    margin: 0 30px;
  }
}
.transaction__content-pagination ul li.current a {
  color: #00AEE5;
}

.menu-on {
  overflow: hidden;
}
.menu-on .wrapper::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
}
.menu-on .wrapper .sidebar {
  width: 420px;
  left: 0;
  z-index: 1000;
  overflow-y: scroll;
}
@media (max-width: 639px) {
  .menu-on .wrapper .sidebar {
    width: 100%;
    padding: 52px 41px 100px 28px;
  }
}
.menu-on .wrapper .transaction .burger-menu:before {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-on .wrapper .transaction .burger-menu span {
  width: 20%;
  opacity: 0;
  left: 100%;
}
.menu-on .wrapper .transaction .burger-menu:after {
  bottom: 10px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}