// цвет body background
$bg-body: #ffffff;

// цвета текста
$color-white: #ffffff;
$color-black: #000000;
$color-blue: #00AEE5;
$color-green: #399818;
$color-red: #981818;

// цвета фона
$bg-white: #ffffff;
$bg-gray: #FAFAFA;
$bg-gray100: #E8EBF1;
$bg-black: #000000;



