// ---- ~ DESKTOP
$wide-screen: 1600px;
$desktop-wide: 1439px;
$desktop: 1199px;

// ---- ~ MOBILE
$ipad: 1000px;
$tablet: 767px;
$phone-wide: 639px;
$phone: 480px;
$sm: 424px;

// ---- ~ Container
$container-wide-screen: 1240px;

.container {
  width: 100%;
  margin: 0 auto;
  max-width: $container-wide-screen;
  padding: 0;
  @media (max-width: $desktop-wide) {
    max-width: 1140px;
  }
  @media (max-width: $desktop) {
    max-width: 960px;
  }
  @media (max-width: $ipad) {
    max-width: 726px;
  }
  @media (max-width: $tablet) {
    max-width: 100%;
    padding: 0 20px;
  }
}