%full-size {
  width: 100%;
  height: 100%;
}

%flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

%inline-flex {
  display: -ms-inline-flexbox;
  display: inline-flex
}

%align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

%justify-content-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
