@import "nullstyle";
@import "mixins";
@import "grid";
@import "font";
@import "colors";

body {
  background: linear-gradient(62deg, #fdf7f7, #f9f3f4, #f3eef4, #e9e8f5);
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  color: $color-black;
  font-family: $font-roboto;
  font-size: 14px;
  
  &.hidden {
    .wrapper {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .2);
        z-index: 11;
      }
    }
  }
}

.wrapper {
  width: 100%;
  max-width: 1920px;
  position: relative;
  margin: 0 auto;
  @extend %flex;
  overflow: hidden;
}

.sidebar {
  width: 300px;
  height: 100%;
  padding: 62px 41px 100px 28px;
  display: inline-block;
  
  @media (max-width: 1600px) {
    width: 20%;
  }
  @media (max-width: 1439px) {
    width: 280px;
  }
  @media (max-width: 1200px) {
    width: 260px;
  }
  @media (max-width: 1023px) {
    width: 420px;
    height: 100vh;
    position: absolute;
    left: -100%;
    top: 0;
    background: linear-gradient(62deg, #fdf7f7, #f9f3f4, #f3eef4, #e9e8f5);
    animation: gradient 15s ease infinite;
    z-index: 1000;
    transition: all .3s ease-in-out;
  }
  @media (max-width: 560px) {
    width: 100%;
  }
  
  &::before {
    content: '';
    position: absolute;
    left: 300px;
    top: 0;
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
    @media (max-width: 1600px) {
      left: 20%;
    }
    @media (max-width: 1439px) {
      left: 280px;
    }
    @media (max-width: 1200px) {
      left: 260px;
    }
    @media (max-width: 1023px) {
      content: none;
    }
  }
  
  &__logo {
    width: 231px;
    margin-bottom: 70px;
    padding-left: 17px;
    
    @media (max-width: 1439px) {
      width: 211px;
    }
    @media (max-width: 1200px) {
      width: 191px;
    }
    
    img {
      width: 100%;
    }
  }
  
  &__header {
    margin-bottom: 60px;
    @media (max-width: 1023px) {
      width: 300px;
    }
    @media (max-width: 424px) {
      width: 100%;
    }
    
    &-caption {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 30px;
      font-family: $font-roboto-medium;
      padding-left: 17px;
      
      @media (max-width: 1600px) {
        font-size: 20px;
        line-height: 24px;
      }
      @media (max-width: 560px) {
        font-size: 18px;
        line-height: 22px;
      }
    }
    
    &-menu {
      & > li {
        height: 52px;
        line-height: 52px;
        margin-bottom: 5px;
        transition: all .2s ease-in-out;
        position: relative;
        border-radius: 20px;
        @extend %flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        
        @media (max-width: 1200px) {
          line-height: 48px;
          height: 48px;
        }
        
        .arrow {
          position: absolute;
          right: 0;
          top: 15px;
          width: 20px;
          height: 20px;
          background-image: url("../img/icon-chevron-right.svg");
          background-size: cover;
          opacity: .5;
          transition: all .2s ease-in-out;
        }
        
        & > a {
          color: $color-black;
          opacity: .5;
          font-family: $font-roboto-medium;
          width: 100%;
          padding-left: 17px;
          transition: all .2s ease-in-out;
          
          img, svg {
            width: 20px;
            height: 20px;
            margin-right: 24px;
            vertical-align: middle;
            
            @media (max-width: 1200px) {
              margin-right: 16px;
              width: 18px;
              height: 18px;
            }
            
            path {
              transition: all .2s ease-in-out;
            }
          }
        }
        
        &.active {
          background-color: $bg-white;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
          
          a {
            opacity: .9;
            color: $color-blue;
            
            svg {
              path {
                fill: #00AEE5;
              }
            }
          }
        }
        
        &:hover {
          background-color: $bg-white;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
          
          @media (max-width: 1023px) {
            height: auto;
          }
          
          .arrow {
            right: 12px;
            @media (max-width: 1023px) {
              transform: rotate(90deg);
            }
          }
          
          & > a {
            opacity: .9;
            color: $color-blue;
            
            svg {
              path {
                fill: #00AEE5;
              }
            }
          }
          
          .sidebar__header-menu-submenu {
            left: 100%;
            opacity: 1;
            visibility: visible;
            transition: all .2s ease-in-out;
            @media (max-width: 1023px) {
              left: 0;
            }
          }
        }
      }
      
      &-submenu {
        position: absolute;
        left: 50%;
        top: 0;
        opacity: 0;
        padding-left: 44px;
        width: 300px;
        visibility: hidden;
        
        @media (max-width: 1023px) {
          position: relative;
          left: 0;
          width: 100%;
          padding-left: 0;
        }
        
        & > li {
          padding: 10px 30px;
          background-color: $bg-white;
          line-height: 23px;
          width: 100%;
          box-shadow: 0 10px 15px rgba(0, 0, 0, 0.08);
          
          & > a {
            display: block;
            color: $color-black;
            opacity: 1;
            transition: all .2s ease-in-out;
            
            &:hover {
              opacity: 1;
              color: $color-blue;
            }
          }
        }
      }
    }
  }
  
  &__profile {
    position: absolute;
    right: 24px;
    top: 36px;
    @extend %flex;
    align-items: center;
    
    @media (max-width: 1023px) {
      position: relative;
      right: auto;
      top: 0;
      margin-bottom: 60px;
      padding-left: 17px;
    }
    @media (max-width: 424px) {
      flex-wrap: wrap;
    }
    
    &-balance {
      margin-right: 28px;
      color: rgba(0, 0, 0, 0.5);
      
      span {
        font-family: $font-roboto-medium;
        color: rgba(0, 0, 0, 1);
      }
      @media (max-width: 424px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    
    &-user {
      margin-right: 24px;
      background: $bg-white;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
      border-radius: 20px;
      
      li {
        font-size: 16px;
        line-height: 52px;
        font-family: $font-roboto-medium;
        padding: 0 55px 0 50px;
        position: relative;
        
        @media (max-width: 1600px) {
          line-height: 48px;
          font-size: 15px;
        }
        @media (max-width: 1439px) {
          line-height: 42px;
          font-size: 14px;
        }
        @media (max-width: 560px) {
          line-height: 40px;
          font-size: 13px;
        }
        
        &::before {
          content: '';
          position: absolute;
          left: 15px;
          top: 14px;
          width: 24px;
          height: 24px;
          background-image: url("../img/icon-credit-card.svg");
          background-size: cover;
          
          @media (max-width: 1600px) {
            top: 12px;
          }
          @media (max-width: 1439px) {
            width: 20px;
            height: 20px;
            top: 11px;
          }
        }
        
        &::after {
          content: '';
          position: absolute;
          right: 20px;
          top: 16px;
          width: 10px;
          height: 20px;
          background-image: url("../img/icon-format-line-spacing.svg");
          background-size: cover;
          @media (max-width: 1600px) {
            top: 14px;
          }
          @media (max-width: 1439px) {
            width: 8px;
            height: 17px;
            top: 13px;
          }
        }
      }
    }
    
    &-setting {
      width: 24px;
      height: 24px;
      transition: all .3s ease-in-out;
      
      &:hover {
        transform: rotate(180deg);
      }
      
      span {
        display: inline-block;
        cursor: pointer;
        width: 100%;
        height: 100%;
        background-image: url("../img/icon-settings.svg");
        background-size: cover;
      }
    }
  }
  
  &__info {
    &-caption {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 20px;
      font-family: $font-roboto-medium;
      padding-left: 17px;
      @media (max-width: 1600px) {
        font-size: 20px;
        line-height: 24px;
      }
      @media (max-width: 560px) {
        font-size: 18px;
        line-height: 22px;
      }
    }
    
    ul {
      & > li {
        height: 52px;
        line-height: 52px;
        margin-bottom: 5px;
        transition: all .2s ease-in-out;
        border-radius: 20px;
        
        @extend %flex;
        align-items: center;
        width: 100%;
        
        & > a {
          color: $color-black;
          opacity: .5;
          font-family: $font-roboto-medium;
          width: 100%;
          padding-left: 17px;
          
          svg {
            width: 20px;
            height: 20px;
            margin-right: 24px;
            vertical-align: middle;
            @media (max-width: 1200px) {
              margin-right: 16px;
            }
          }
        }
        
        &:hover {
          background-color: $bg-white;
          
          a {
            opacity: .9;
            color: $color-blue;
            
            svg {
              path {
                fill: #00AEE5;
              }
            }
          }
        }
      }
    }
  }
}

.transaction {
  padding: 48px 24px;
  width: 1620px;
  
  @media (max-width: 1600px) {
    width: 80%;
  }
  @media (max-width: 1439px) {
    width: Calc(100% - 280px);
  }
  @media (max-width: 1200px) {
    width: Calc(100% - 260px);
  }
  @media (max-width: 1023px) {
    width: 100%;
  }
  
  &__head {
    margin-bottom: 32px;
    
    &-caption {
      font-size: 22px;
      line-height: 26px;
      font-family: $font-roboto-medium;
      margin-bottom: 27px;
      @media (max-width: 1200px) {
        font-size: 21px;
        line-height: 25px;
      }
      @media (max-width: 424px) {
        font-size: 20px;
        line-height: 24px;
      }
    }
    
    &-date {
      @extend %flex;
      align-items: center;
      
      &-icon {
        width: 24px;
        height: 24px;
        margin-right: 14px;
        @media (max-width: 1439px) {
          width: 22px;
          height: 22px;
        }
        @media (max-width: 1600px) {
          width: 20px;
          height: 20px;
        }
        
        span {
          display: inline-block;
          width: 100%;
          height: 100%;
          background-image: url("../img/icon-calendar-days.svg");
          background-size: cover;
        }
      }
      
      &-form {
        input {
          display: none;
        }
        
        div {
          @extend %inline-flex;
          justify-content: space-between;
          padding: 0 24px;
          font-size: 18px;
          line-height: 40px;
          border: 0;
          width: 278px;
          height: 40px;
          background: $bg-gray100;
          border-radius: 20px;
          color: rgba(0, 0, 0, .5);
          
          @media (max-width: 1750px) {
            font-size: 16px;
          }
          @media (max-width: 1600px) {
            width: 250px;
            font-size: 15px;
          }
          @media (max-width: 1200px) {
            font-size: 14px;
          }
          @media (max-width: 767px) {
            width: 230px;
          }
          @media (max-width: 639px) {
            width: 220px;
          }
          @media (max-width: 560px) {
            width: 120px;
          }
          @media (max-width: 424px) {
            font-size: 13px;
            width: 100px;
            padding: 0 18px;
            line-height: 36px;
            height: 36px;
          }
          
          .number, .time {
            @media (max-width: 560px) {
              display: none;
            }
          }
        }
        
        .line {
          display: inline-block;
          margin: 0 18px;
          font-size: 18px;
          line-height: 21px;
          opacity: .5;
          @media (max-width: 1200px) {
            margin: 0 12px;
          }
          @media (max-width: 424px) {
            margin: 0 8px;
          }
        }
      }
    }
    
    .burger-menu {
      width: 34px;
      height: 23px;
      position: absolute;
      top: 50px;
      right: 24px;
      cursor: pointer;
      transition: all .3s ease-in-out;
      display: none;
      z-index: 1001;
      
      @media (max-width: 1023px) {
        display: inline-block;
      }
      
      span {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: 5px;
        height: 3px;
        background-color: $bg-black;
        width: 100%;
        transition: all .3s ease-in-out;
      }
      
      &:before,
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        margin: 0 auto;
        height: 3px;
        border-radius: 5px;
        left: 0;
        right: 0;
        background-color: $bg-black;
        transform: rotate(0);
        transition: all .3s ease-in-out;
      }
      
      &:before {
        top: 0;
      }
      
      &:after {
        bottom: 0;
      }
    }
  }
  
  &__content {
    width: 100%;
    padding: 23px 25px 45px;
    background: $bg-white;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    
    .select {
      cursor: pointer;
      display: inline-block;
      position: relative;
      font-size: 16px;
      color: $color-black;
      width: 185px;
      height: 40px;
      margin-right: 20px;
      
      &:nth-last-child(1) {
        margin-right: 0;
      }
      
      @media (max-width: 1750px) {
        font-size: 14px;
        width: 150px;
        margin-right: 15px;
      }
      @media (max-width: 639px) {
        height: 38px;
        font-size: 13px;
      }
      @media (max-width: 560px) {
        width: 47%;
      }
      @media (max-width: 424px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
      }
      
      .select-hidden {
        display: none;
      }
      
      &:nth-of-type(4) {
        margin-right: 0;
      }
    }
    
    .select-styled {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      line-height: 40px;
      background-color: $bg-white;
      padding: 0 25px;
      border: 1px solid $bg-gray100;
      transition: all .3s ease-in-out;
      border-radius: 20px;
      @media (max-width: 639px) {
        line-height: 38px;
      }
      
      &:after {
        content: "";
        width: 10px;
        height: 20px;
        background-image: url("../img/icon-format-line-spacing.svg");
        position: absolute;
        top: 9px;
        right: 15px;
        background-size: cover;
        @media (max-width: 639px) {
          width: 8px;
          height: 18px;
        }
      }
      
      &:hover {
        border: 1px solid rgba(0, 0, 0, .4);
      }
      
      &:active,
      &.active {
        transition: ease-in-out 0s;
        border: 1px solid rgba(0, 0, 0, .4);
        z-index: 11;
      }
    }
    
    .select-options {
      display: none;
      position: absolute;
      top: 55%;
      right: 0;
      left: 0;
      overflow: hidden;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      z-index: 10;
      margin: 0;
      padding: 30px 0 10px;
      list-style: none;
      background-color: $bg-white;
      border-left: 1px solid rgba(0, 0, 0, 0.4);
      border-right: 1px solid rgba(0, 0, 0, 0.4);
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      
      li {
        margin: 0;
        padding: 10px 0;
        text-indent: 22px;
        border-top: 1px solid $bg-white;
  
        @media (max-width: 639px) {
          padding: 8px 0;
        }
        
        &:hover {
          background: $bg-gray100;
        }
        
        &[rel="hide"] {
          //display: none;
        }
      }
    }
    
    &-pane {
      margin-bottom: 50px;
      @extend %flex;
      justify-content: space-between;
      position: relative;
      
      @media (max-width: 1439px) {
        justify-content: flex-start;
      }
      @media (max-width: 560px) {
        margin-bottom: 30px;
      }
      
      .mobile-filter {
        display: none;
        height: 40px;
        line-height: 40px;
        padding: 0 27px 0 43px;
        -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin-right: 19px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        position: relative;
        
        @media (max-width: 1439px) {
          display: inline-block;
        }
        @media (max-width: 639px) {
          font-size: 13px;
        }
        @media (max-width: 424px) {
          width: 40px;
          padding: 0;
          span {
            display: none;
          }
        }
        
        &::before {
          content: '';
          position: absolute;
          left: 15px;
          top: 10px;
          width: 20px;
          height: 20px;
          background-image: url("../img/icon-filter.svg");
          background-size: cover;
          @media (max-width: 424px) {
            left: 10px;
            top: 12px;
          }
        }
      }
      
      &-filter {
        position: relative;
        
        @media (max-width: 1439px) {
          position: absolute;
          top: -22px;
          left: -25px;
          opacity: 0;
          visibility: hidden;
          padding: 20px 25px;
          background: $bg-white;
          width: Calc(100% + 50px);
          border-top-right-radius: 20px;
          border-top-left-radius: 20px;
          border-bottom: 1px solid $bg-gray100;
          transition: all .2s ease-in-out;
  
          @media (max-width: 560px) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            border-radius: 20px;
            padding: 20px 25px 35px;
          }
          @media (max-width: 424px) {
            padding: 18px 18px 25px;
          }
          
          &.on {
            opacity: 1;
            visibility: visible;
            z-index: 15;
          }
          
          .close {
            position: absolute;
            right: 30px;
            top: 30px;
            z-index: 1;
            cursor: pointer;
            width: 20px;
            height: 20px;
            transition: all 0.5s;
            opacity: .8;
            @media (max-width: 560px) {
              top: 21px;
            }
            @media (max-width: 424px) {
              right: 18px;
            }
            
            &:after,
            &:before {
              content: '';
              position: absolute;
              border-radius: 5px;
              height: 2px;
              width: 100%;
              top: 50%;
              left: 0;
              background: $bg-black;
              transition: all 0.5s;
            }
            
            &:before {
              transform: rotate(45deg);
            }
            
            &:after {
              transform: rotate(-45deg);
            }
            
            &:hover {
              opacity: 1;
              
              &::before {
                background: $bg-black;
                transform: rotate(-45deg);
              }
              
              &::after {
                background: $bg-black;
                transform: rotate(45deg);
              }
            }
          }
        }
  
        .caption {
          display: none;
          font-size: 18px;
          line-height: 22px;
          font-family: $font-roboto-medium;
          margin-bottom: 20px;
    
          @media (max-width: 560px) {
            display: block;
          }
        }
        
        &-form {
          height: 40px;
          @extend %inline-flex;
          background-color: $bg-gray100;
          border-radius: 20px;
          margin-right: 20px;
          @media (max-width: 1750px) {
            margin-right: 15px;
          }
          @media (max-width: 1200px) {
            width: 90%;
            margin-bottom: 15px;
          }
          @media (max-width: 639px) {
            height: 38px;
          }
          @media (max-width: 560px) {
            width: 100%;
            flex-wrap: wrap;
            height: auto;
            margin-right: 0;
          }
          
          .select {
            width: 147px;
            margin-right: 12px;
            
            @media (max-width: 1750px) {
              width: 130px;
            }
            @media (max-width: 1200px) {
              width: 25%;
            }
            @media (max-width: 560px) {
              width: 100%;
              margin-right: 0;
            }
            @media (max-width: 424px) {
              margin-bottom: 0;
            }
          }
          
          input[type="text"] {
            width: 157px;
            border: 0;
            background: transparent;
            font-size: 14px;
            line-height: 100%;
            color: rgba(0, 0, 0, 0.5);
            padding-right: 12px;
            
            @media (max-width: 1750px) {
              width: 130px;
            }
            @media (max-width: 1200px) {
              width: 55%;
            }
            @media (max-width: 639px) {
              font-size: 13px;
            }
            @media (max-width: 560px) {
              width: 100%;
              height: 44px;
              padding: 0 25px;
            }
            @media (max-width: 424px) {
              height: 40px;
            }
          }
          
          input[type="submit"] {
            width: 104px;
            height: 40px;
            border: 1px solid $bg-gray100;
            background: $bg-white;
            border-radius: 20px;
            cursor: pointer;
            transition: all .2s ease-in-out;
            font-size: 14px;
            
            @media (max-width: 1750px) {
              width: 90px;
            }
            @media (max-width: 1200px) {
              width: 20%;
            }
            @media (max-width: 639px) {
              font-size: 13px;
              height: 38px;
            }
            @media (max-width: 560px) {
              width: 100%;
            }
            
            &:hover {
              border: 1px solid rgba(0, 0, 0, .4);
              -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.02);
              box-shadow: 0 6px 20px rgba(0, 0, 0, 0.07);
            }
          }
        }
        
      }
      
      &-files {
        position: relative;
        
        .mobile-btn {
          display: none;
          width: 40px;
          height: 40px;
          background-color: $bg-white;
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          border-radius: 50%;
          transition: all .2s ease-in-out;
          background-image: url("../img/icon-vertical-align-bottom.svg");
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-position: center;
          
          @media (max-width: 560px) {
            display: inline-block;
          }
        }
        
        &-block {
          @media (max-width: 560px) {
            position: absolute;
            top: 30px;
            background: $bg-white;
            width: 100px;
            border-radius: 20px;
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            z-index: 1;
            visibility: hidden;
            opacity: 0;
            
            &.on {
              top: 60px;
              visibility: visible;
              opacity: 1;
            }
          }
        }
        
        a {
          background: $bg-white;
          display: inline-block;
          line-height: 40px;
          padding: 0 27px 0 23px;
          box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1);
          border-radius: 20px;
          margin-right: 19px;
          transition: all .2s ease-in-out;
          color: $bg-black;
          
          @media (max-width: 1750px) {
            margin-right: 12px;
          }
          @media (max-width: 560px) {
            border-radius: 0;
            box-shadow: none;
            display: block;
            width: 100%;
            padding: 0 10px;
            text-align: center;
          }
          
          &:nth-last-child(1) {
            margin-right: 0;
          }
          
          &:hover {
            box-shadow: 0 5px 30px rgba(0, 0, 0, 0.18);
            color: $color-blue;
            @media (max-width: 560px) {
              box-shadow: none;
            }
          }
        }
      }
      
      &-item {
        @extend %flex;
        align-items: center;
        
        @media (max-width: 1439px) {
          position: absolute;
          right: 0;
          top: 0;
        }
        
        span {
          font-size: 14px;
          line-height: 16px;
          font-family: $font-roboto-medium;
          margin-right: 17px;
          
          @media (max-width: 1600px) {
            display: none;
          }
        }
        
        .select {
          width: 100px;
          margin-right: 0;
          
          @media (max-width: 1750px) {
            width: 80px;
          }
        }
        
        .select-styled {
          padding: 0 32px;
          background: #F1F6FF;
          border: 1px solid #F1F6FF;
          
          &:after {
            width: 20px;
            height: 20px;
            background-image: url('../img/icon-chevron-down.svg');
            top: 10px;
          }
          
          @media (max-width: 1750px) {
            padding: 0 20px;
          }
        }
        
        .select-options {
          li {
            text-align: center;
            text-indent: 0;
          }
        }
        
      }
    }
    
    &-table {
      width: 100%;
      
      @media (max-width: 1600px) {
        overflow-x: scroll;
      }
      
      table {
        width: 100%;
        text-align: center;
        margin-bottom: 45px;
        
        @media (max-width: 1600px) {
          width: 1600px;
        }
        @media (max-width: 1023px) {
          padding-bottom: 20px;
        }
        @media (max-width: 424px) {
          padding-bottom: 0;
        }
        
        & > tbody {
          & > tr {
            td {
              padding: 7px 0;
              font-size: 14px;
              line-height: 16px;
              
              @media (max-width: 639px) {
                font-size: 13px;
              }
              @media (max-width: 424px) {
                font-size: 12px;
              }
              
              .success {
                color: $color-green;
              }
              
              .failure {
                color: $color-red;
              }
              
              .refresh {
                cursor: pointer;
                
                img {
                  transition: all .3s ease-in-out;
                }
                
                &:hover {
                  img {
                    transform: rotate(180deg);
                  }
                }
              }
            }
            
            &:nth-of-type(odd) {
              & > td {
                background-color: $bg-gray;
              }
            }
            
            &:hover {
              td {
                background-color: $bg-gray100;
              }
            }
            
            &:nth-of-type(1) {
              & > td {
                background-color: $bg-white;
                opacity: .5;
                padding: 16px 0;
              }
            }
          }
        }
      }
    }
    
    &-pagination {
      text-align: center;
      
      ul {
        li {
          font-size: 18px;
          line-height: 21px;
          display: inline-block;
          position: relative;
          
          @media (max-width: 1600px) {
            font-size: 16px;
            line-height: 19px;
          }
          @media (max-width: 1023px) {
            font-size: 15px;
          }
          @media (max-width: 560px) {
            font-size: 14px;
          }
          @media (max-width: 424px) {
            font-size: 13px;
          }
          
          &.prev, &.next {
            opacity: .5;
            transition: all .2s ease-in-out;
            
            a {
              color: $color-black;
            }
            
            &:hover {
              opacity: 1;
            }
            
            &.hide {
              pointer-events: none;
              opacity: .1;
            }
          }
          
          &.prev {
            &::before {
              content: '';
              position: absolute;
              left: -29px;
              top: -2px;
              width: 24px;
              height: 24px;
              background-image: url("../img/icon-chevron-left.svg");
              background-size: cover;
              
              @media (max-width: 1600px) {
                width: 20px;
                height: 20px;
                top: 0;
              }
              @media (max-width: 560px) {
                width: 19px;
                height: 19px;
              }
            }
          }
          
          &.next {
            &::before {
              content: '';
              position: absolute;
              right: -29px;
              top: -2px;
              width: 24px;
              height: 24px;
              background-image: url("../img/icon-chevron-right.svg");
              background-size: cover;
              @media (max-width: 1600px) {
                width: 20px;
                height: 20px;
                top: 0;
              }
              @media (max-width: 560px) {
                width: 19px;
                height: 19px;
              }
            }
          }
          
          &.current {
            margin: 0 60px;
  
            @media (max-width: 424px) {
              margin: 0 30px;
            }
            
            a {
              color: $color-blue;
            }
          }
        }
      }
    }
  }
}

.menu-on {
  overflow: hidden;
  
  .wrapper {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, .2);
      z-index: 20;
    }
    
    .sidebar {
      width: 420px;
      left: 0;
      z-index: 1000;
      overflow-y: scroll;
      
      @media (max-width: 639px) {
        width: 100%;
        padding: 52px 41px 100px 28px;
      }
    }
    
    .transaction {
      .burger-menu {
        &:before {
          top: 10px;
          transform: rotate(45deg);
        }
        
        span {
          width: 20%;
          opacity: 0;
          left: 100%;
        }
        
        &:after {
          bottom: 10px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}